<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <header>
      <div class='limiter'>
        {% if site.github.is_project_page %}
          <a href="{{ site.github.repository_url }}" class="btn float-right">View on GitHub</a>
        {% endif %}
        <h1><a href="{{ "/" | relative_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
      </div>
    </header>

    <section class="main-content markdown-body">
      {{ content }}
    </section>

    <footer>
      <div class='limiter'>
        {% if site.github.is_project_page %}
          <div class="owner">
            <a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a>
            is maintained by 
            <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.
          </div>
        {% endif %}
      </div>
    </footer>

    {% include analytics.html %}
  </body>
</html>
